body {
  background-color: #537895;
  color: white;
}

hr {
  width: 900px;
  background-color: green;
  color: red;
}

.header {
  background-image: linear-gradient(black, #537895);
  text-align: center;
  padding: 30px;
  color: white;
}

.header-job {
  font-size: 20px;
}

.intro {
  text-align: center;
}

.about {
  padding: 90px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.contact {
  text-align: center;
}

h1 {
  font-size: 80px;
  font-family: "Courier New";
  font-weight: lighter;
}

h3 {
  font-size: 30px;
}

h6 {
  font-family: "Courier New";
  font-weight: lighter;
  font-size: 25px;
  margin-top: -30px;
}

p {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Trebuchet MS";
}

ul {
  display: inline-block;
  text-align: left;
  font-size: 25px;
}

.profile-img {
  padding: 1px;
  border-radius: 150px;
  width: 450px;
  height: auto;
}

.contact-heading {
  text-align: center;
}

.contact-p {
  font-size: 15px;
  height: 25px;
}

.mail-logo {
  width: 70px;
}

.github-logo {
  width: 118px;
}

.footer {
  padding: 10px;
  background-image: linear-gradient(#537895, black);
}

.footer-p {
  text-align: center;
  padding-top: 8em;
  font-size: 15px;
}
